<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~
  ~      Copyright (c) 2018-2025, lengleng All rights reserved.
  ~
  ~  Redistribution and use in source and binary forms, with or without
  ~  modification, are permitted provided that the following conditions are met:
  ~
  ~ Redistributions of source code must retain the above copyright notice,
  ~  this list of conditions and the following disclaimer.
  ~  Redistributions in binary form must reproduce the above copyright
  ~  notice, this list of conditions and the following disclaimer in the
  ~  documentation and/or other materials provided with the distribution.
  ~  Neither the name of the pig4cloud.com developer nor the names of its
  ~  contributors may be used to endorse or promote products derived from
  ~  this software without specific prior written permission.
  ~  Author: lengleng (wangiegie@gmail.com)
  ~
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pig4cloud.pig.goods.goodsGroupRel.mapper.GoodsGroupRelMapper">

  <resultMap id="goodsGroupRelMap" type="com.pig4cloud.pig.goods.goodsGroupRel.entity.GoodsGroupRel">
          <id property="id" column="id"/>
        <result property="goodsId" column="goods_id"/>
        <result property="goodsGroupId" column="goods_group_id"/>
        <result property="goodsName" column="goodsName"/>
        <result property="goodsCode" column="goodsCode"/>
        <result property="groupName" column="groupName"/>
    </resultMap>

  <!--goodsGroupRel简单分页查询-->
  <select id="getGoodsGroupRelPage" resultMap="goodsGroupRelMap">
    SELECT
   rel.id,
   rel.goods_id,
   rel.goods_group_id,
   goods.name AS `goodsName`,
   goods.code AS `goodsCode`,
   `group`.name AS `groupName`
  FROM fx_goods_group_rel  AS rel
  LEFT JOIN fx_goods AS goods ON goods.id = rel.goods_id
LEFT JOIN fx_goods_group AS `group` ON `group`.id = rel.goods_group_id
    <where>
              <if test="goodsGroupRel.id != null and goodsGroupRel.id.trim() != ''">
          AND rel.id = #{goodsGroupRel.id}
        </if>
              <if test="goodsGroupRel.goodsId != null and goodsGroupRel.goodsId.trim() != ''">
          AND rel.goods_id = #{goodsGroupRel.goodsId}
        </if>
              <if test="goodsGroupRel.goodsGroupId != null and goodsGroupRel.goodsGroupId.trim() != ''">
          AND rel.goods_group_id = #{goodsGroupRel.goodsGroupId}
        </if>
          </where>
  </select>
	<select id="listGroupRelByGoodsId" resultMap="goodsGroupRelMap">
		SELECT
		   rel.id,
		   rel.goods_id,
		   rel.goods_group_id,
		   goods.name AS `goodsName`,
		   goods.code AS `goodsCode`,
		   `group`.name AS `groupName`
		  FROM fx_goods_group_rel  AS rel
		  LEFT JOIN fx_goods AS goods ON goods.id = rel.goods_id
		LEFT JOIN fx_goods_group AS `group` ON `group`.id = rel.goods_group_id
		where rel.goods_id = #{goodsId}
	</select>
	
	<delete id="removeByGoodsId">
		DELETE FROM fx_goods_group_rel WHERE goods_id = #{goodsId}
	</delete>
</mapper>
