<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~
  ~      Copyright (c) 2018-2025, lengleng All rights reserved.
  ~
  ~  Redistribution and use in source and binary forms, with or without
  ~  modification, are permitted provided that the following conditions are met:
  ~
  ~ Redistributions of source code must retain the above copyright notice,
  ~  this list of conditions and the following disclaimer.
  ~  Redistributions in binary form must reproduce the above copyright
  ~  notice, this list of conditions and the following disclaimer in the
  ~  documentation and/or other materials provided with the distribution.
  ~  Neither the name of the pig4cloud.com developer nor the names of its
  ~  contributors may be used to endorse or promote products derived from
  ~  this software without specific prior written permission.
  ~  Author: lengleng (wangiegie@gmail.com)
  ~
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pig4cloud.pig.order.returnOrderPic.mapper.SalesReturnPicMapper">

  <resultMap id="salesReturnPicMap" type="com.pig4cloud.pig.order.returnOrderPic.entity.SalesReturnPic">
                  <id property="id" column="id"/>
                        <result property="returnId" column="return_id"/>
                        <result property="picId" column="pic_id"/>
            </resultMap>

  <!--salesReturnPic简单分页查询-->
  <select id="getSalesReturnPicPage" resultMap="salesReturnPicMap">
    SELECT
                  id,
                        return_id,
                        pic_id
              FROM fx_sales_return_pic
    <where>
              <if test="salesReturnPic.id != null and salesReturnPic.id.trim() != ''">
          AND id = #{salesReturnPic.id}
        </if>
              <if test="salesReturnPic.returnId != null and salesReturnPic.returnId.trim() != ''">
          AND return_id = #{salesReturnPic.returnId}
        </if>
              <if test="salesReturnPic.picId != null and salesReturnPic.picId.trim() != ''">
          AND pic_id = #{salesReturnPic.picId}
        </if>
          </where>
  </select>



</mapper>
