<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~
  ~      Copyright (c) 2018-2025, lengleng All rights reserved.
  ~
  ~  Redistribution and use in source and binary forms, with or without
  ~  modification, are permitted provided that the following conditions are met:
  ~
  ~ Redistributions of source code must retain the above copyright notice,
  ~  this list of conditions and the following disclaimer.
  ~  Redistributions in binary form must reproduce the above copyright
  ~  notice, this list of conditions and the following disclaimer in the
  ~  documentation and/or other materials provided with the distribution.
  ~  Neither the name of the pig4cloud.com developer nor the names of its
  ~  contributors may be used to endorse or promote products derived from
  ~  this software without specific prior written permission.
  ~  Author: lengleng (wangiegie@gmail.com)
  ~
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pig4cloud.pig.accountmanage.shoppingAddress.mapper.ShoppingAddressMapper">

	<resultMap id="shoppingAddressMap" type="com.pig4cloud.pig.accountmanage.shoppingAddress.entity.ShoppingAddress">
		<id property="id" column="id"/>
		<result property="name" column="name"/>
		<result property="phone" column="phone"/>
		<result property="privince" column="privince"/>
		<result property="city" column="city"/>
		<result property="area" column="area"/>
		<result property="address" column="address"/>
		<result property="isDefault" column="is_default"/>
	</resultMap>

	<!--shippingAddress简单分页查询-->
	<select id="getShoppingAddressPage" resultMap="shoppingAddressMap">
		SELECT
		id,
		name,
		phone,
		privince,
		city,
		area,
		address,
		is_default
		FROM fx_shopping_address
		<where>
			<if test="shoppingAddress.creatorId != null">
				AND creator_id = #{shoppingAddress.creatorId}
			</if>
			<if test="shoppingAddress.id != null">
				AND id = #{shoppingAddress.id}
			</if>
			<if test="shoppingAddress.name != null and shoppingAddress.name.trim() != ''">
				AND name = #{shoppingAddress.name}
			</if>
			<if test="shoppingAddress.phone != null and shoppingAddress.phone.trim() != ''">
				AND phone = #{shoppingAddress.phone}
			</if>
			<if test="shoppingAddress.privince != null and shoppingAddress.privince.trim() != ''">
				AND privince = #{shoppingAddress.privince}
			</if>
			<if test="shoppingAddress.city != null and shoppingAddress.city.trim() != ''">
				AND city = #{shoppingAddress.city}
			</if>
			<if test="shoppingAddress.area != null and shoppingAddress.area.trim() != ''">
				AND area = #{shoppingAddress.area}
			</if>
			<if test="shoppingAddress.address != null and shoppingAddress.address.trim() != ''">
				AND address = #{shoppingAddress.address}
			</if>
			<if test="shoppingAddress.isDefault != null">
				AND is_default = #{shoppingAddress.isDefault}
			</if>
		</where>
	</select>


</mapper>
