<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~
  ~      Copyright (c) 2018-2025, lengleng All rights reserved.
  ~
  ~  Redistribution and use in source and binary forms, with or without
  ~  modification, are permitted provided that the following conditions are met:
  ~
  ~ Redistributions of source code must retain the above copyright notice,
  ~  this list of conditions and the following disclaimer.
  ~  Redistributions in binary form must reproduce the above copyright
  ~  notice, this list of conditions and the following disclaimer in the
  ~  documentation and/or other materials provided with the distribution.
  ~  Neither the name of the pig4cloud.com developer nor the names of its
  ~  contributors may be used to endorse or promote products derived from
  ~  this software without specific prior written permission.
  ~  Author: lengleng (wangiegie@gmail.com)
  ~
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pig4cloud.pig.accountmanage.userlog.mapper.UserLogMapper">

	<resultMap id="userLogMap" type="com.pig4cloud.pig.accountmanage.userlog.entity.UserLog">
		<id property="id" column="id"/>
		<result property="userId" column="user_id"/>
		<result property="wxOpenid" column="wx_openid"/>
		<result property="logType" column="log_type"/>
		<result property="createTime" column="create_time"/>
	</resultMap>

	<!--user简单分页查询-->
	<select id="getUserLogPage" resultMap="userLogMap">
		SELECT
		id,
		user_id,
		wx_openid,
		log_type,
		create_time
		FROM
		fx_user_log
		<where>
			<if test="userLog.id != null and userLog.id.trim() != ''">
				AND u.id = #{userLog.id}
			</if>
			<if test="userLog.userId != null">
				AND u.user_id = #{userLog.userId}
			</if>
			<if test="userLog.logType != null and userLog.logType.trim() != ''">
				AND u.log_type = #{userLog.logType}
			</if>
		</where>
	</select>

	<select id="getTodayUserLogByWxOpenidAndType" resultType="java.lang.Integer">
		select count(1) from fx_user_log where wx_openid = #{wxOpenid} and log_type = #{type} and
		date_format(create_time,'%Y%m%d') = date_format(now(),'%Y%m%d')
	</select>


</mapper>
